In [1]:
import pandas as pd
import xgboost as xgb

In [2]:
loaded_model = xgb.XGBClassifier()
loaded_model.load_model("xgboost_model.json")
loaded_model

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=0.5, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None,
              feature_types=['int', 'int', 'float', 'float', 'float', 'float',
                             'float', 'float', 'float', 'float', 'float',
                             'float', 'float', 'float', 'float', 'float',
                             'float', 'float', 'f...
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=0.1, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=7, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=300, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [11]:
data=pd.read_csv('./data/test.csv',header=0)
data

,id,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,...,DC237e,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a
0,26718,35,2,17,1,0,1,0,1,1,...,0,0,1,1,1,1,1,3,21,52
1,26802,35,1,12,1,1,1,1,0,1,...,0,0,1,1,0,0,1,2,11,18
2,41302,74,2,12,1,0,1,1,1,1,...,0,0,1,0,0,1,4,5,11,78
3,38698,72,1,12,1,1,0,0,0,0,...,0,0,1,0,1,0,0,1,11,20
4,44257,76,2,12,1,0,1,0,0,1,...,0,0,1,1,1,1,1,3,11,125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11985,36943,65,2,12,1,0,1,0,0,1,...,0,0,1,0,0,0,0,4,11,70
11986,33415,61,2,12,1,0,1,1,0,1,...,0,1,1,1,1,0,0,4,11,120
11987,41998,74,1,12,1,1,1,1,0,1,...,0,0,1,1,0,0,1,2,11,72
11988,41567,74,2,31,0,0,0,0,0,1,...,0,0,1,0,0,1,1,1,51,9
11989,45296,81,1,12,1,0,1,1,0,0,...,0,0,1,1,0,0,1,2,11,96

In [14]:
selected=['id','DC024', 'DC025', 'DC205', 'DC220', 'DC226', 'DC230a', 'DC232b',
       'DC235', 'DC237', 'DC237a', 'DC237b', 'DC237c', 'DC237d', 'DC237f',
       'DC241', 'DC244', 'DC246', 'DC252', 'DC109']
test=data[selected]
test

,id,DC024,DC025,DC205,DC220,DC226,DC230a,DC232b,DC235,DC237,DC237a,DC237b,DC237c,DC237d,DC237f,DC241,DC244,DC246,DC252,DC109
0,26718,35,2,17,29,2,1,0,2,0,0,0,0,0,0,1,1,1,1,21
1,26802,35,1,12,42,2,1,0,1,1,1,0,0,0,0,1,0,0,1,11
2,41302,74,2,12,46,2,1,0,3,0,0,0,0,0,0,1,0,1,4,11
3,38698,72,1,12,46,2,1,0,3,1,1,0,0,0,0,1,1,0,0,11
4,44257,76,2,12,47,2,1,0,1,1,1,0,0,0,0,1,1,1,1,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11985,36943,65,2,12,36,2,1,0,1,1,1,0,0,0,0,1,0,0,0,11
11986,33415,61,2,12,43,2,2,0,2,1,1,0,0,0,1,1,1,0,0,11
11987,41998,74,1,12,45,5,1,0,2,1,1,0,0,0,0,1,0,0,1,11
11988,41567,74,2,31,20,8,1,0,3,1,1,0,0,0,0,1,0,1,1,51
11989,45296,81,1,12,52,5,1,0,3,1,1,0,0,0,0,1,0,0,1,11

In [15]:
test.iloc[:,1:]

,DC024,DC025,DC205,DC220,DC226,DC230a,DC232b,DC235,DC237,DC237a,DC237b,DC237c,DC237d,DC237f,DC241,DC244,DC246,DC252,DC109
0,35,2,17,29,2,1,0,2,0,0,0,0,0,0,1,1,1,1,21
1,35,1,12,42,2,1,0,1,1,1,0,0,0,0,1,0,0,1,11
2,74,2,12,46,2,1,0,3,0,0,0,0,0,0,1,0,1,4,11
3,72,1,12,46,2,1,0,3,1,1,0,0,0,0,1,1,0,0,11
4,76,2,12,47,2,1,0,1,1,1,0,0,0,0,1,1,1,1,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11985,65,2,12,36,2,1,0,1,1,1,0,0,0,0,1,0,0,0,11
11986,61,2,12,43,2,2,0,2,1,1,0,0,0,1,1,1,0,0,11
11987,74,1,12,45,5,1,0,2,1,1,0,0,0,0,1,0,0,1,11
11988,74,2,31,20,8,1,0,3,1,1,0,0,0,0,1,0,1,1,51
11989,81,1,12,52,5,1,0,3,1,1,0,0,0,0,1,0,0,1,11

In [16]:
predict=loaded_model.predict(test.iloc[:,1:])
predict

array([0, 0, 0, ..., 0, 0, 0])

In [17]:
submission=pd.read_csv('./data/sample_submission.csv')
submission['DC201']=predict
submission

          id  DC201
0      26718      0
1      26802      0
2      41302      0
3      38698      0
4      44257      0
...      ...    ...
11985  36943      0
11986  33415      0
11987  41998      0
11988  41567      0
11989  45296      0

[11990 rows x 2 columns]

In [18]:
submission['DC201'].value_counts()

DC201
0    11405
1      585
Name: count, dtype: int64

In [19]:
submission['DC201']=submission['DC201'].apply(lambda x:'Layak Minum' if x==0 else 'Tidak Layak Minum')
submission

          id        DC201
0      26718  Layak Minum
1      26802  Layak Minum
2      41302  Layak Minum
3      38698  Layak Minum
4      44257  Layak Minum
...      ...          ...
11985  36943  Layak Minum
11986  33415  Layak Minum
11987  41998  Layak Minum
11988  41567  Layak Minum
11989  45296  Layak Minum

[11990 rows x 2 columns]

In [20]:
submission['DC201'].value_counts()

DC201
Layak Minum          11405
Tidak Layak Minum      585
Name: count, dtype: int64

In [21]:
submission.to_csv('Submission_2.csv',index=False)