## Import all needed libraries

In [127]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

## Read Data

In [128]:
data=pd.read_csv('../data/train.csv',header=0)
data

,id,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
0,1,11,2,16.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,2.0,1,12.0,60.0,Layak Minum
1,2,11,2,31.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,1.0,1.0,2,31.0,70.0,Layak Minum
2,3,11,2,12.0,1.0,0.0,1.0,1.0,1.0,1.0,...,0.0,1.0,0.0,1.0,1.0,0.0,4,11.0,75.0,Layak Minum
3,6,11,2,12.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,2.0,NaN,1.0,0.0,1.0,1,11.0,85.0,Layak Minum
4,7,11,2,12.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,2,11.0,65.0,Layak Minum
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35968,47958,94,1,17.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,NaN,0.0,0.0,0.0,1,21.0,9.0,Layak Minum
35969,47959,94,1,12.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2,11.0,12.0,Layak Minum
35970,47961,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1,11.0,48.0,Layak Minum
35971,47962,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2,11.0,39.0,Layak Minum
35972,47963,94,1,12.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,3,11.0,40.0,Layak Minum

### Mencari Informasi terkait variable yang ada di data.
- Nama Kolom
- Tipe Data

In [129]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35973 entries, 0 to 35972
Data columns (total 40 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      35973 non-null  int64
 1   DC024   35973 non-null  int64
 2   DC025   35973 non-null  int64
 3   DC205   35962 non-null  float64
 4   DC206   35952 non-null  float64
 5   DC207   35929 non-null  float64
 6   DC208   35960 non-null  float64
 7   DC209   35955 non-null  float64
 8   DC210   35932 non-null  float64
 9   DC211   35949 non-null  float64
 10  DC212   35949 non-null  float64
 11  DC213   35896 non-null  float64
 12  DC214   35964 non-null  float64
 13  DC215   35959 non-null  float64
 14  DC216   35934 non-null  float64
 15  DC217   35973 non-null  int64
 16  DC219   35973 non-null  int64
 17  DC220   35969 non-null  float64
 18  DC226   35967 non-null  float64
 19  DC230a  35962 non-null  float64
 20  DC230b  32964 non-null  float64
 21  DC232   32949 non-null  float64
 22  DC232b  32949 non-null  float64
 23  DC235   25527 non-null  float64
 24  DC237   35952 non-null  float64
 25  DC237a  35936 non-null  float64
 26  DC237b  35936 non-null  float64
 27  DC237c  35936 non-null  float64
 28  DC237d  35936 non-null  float64
 29  DC237e  35936 non-null  float64
 30  DC237f  35936 non-null  float64
 31  DC241   35361 non-null  float64
 32  DC242   30599 non-null  float64
 33  DC244   35969 non-null  float64
 34  DC246   35964 non-null  float64
 35  DC252   35959 non-null  float64
 36  DC270a  35973 non-null  int64
 37  DC109   35962 non-null  float64
 38  DC142a  35921 non-null  float64
 39  DC201   35970 non-null  object
dtypes: float64(33), int64(6), object(1)
memory usage: 11.0+ MB

### Memeriksa informasi basic dari tiap variable yang ada di dalam data.

In [130]:
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
id,35973.0,24336.069775,13828.886872,1.0,12341.0,24787.0,36131.0,47963.0
DC024,35973.0,43.229088,23.585684,11.0,31.0,35.0,64.0,94.0
DC025,35973.0,1.468601,0.499020,1.0,1.0,1.0,2.0,2.0
DC205,35962.0,14.986736,6.061058,12.0,12.0,12.0,16.0,96.0
DC206,35952.0,0.960086,0.195761,0.0,1.0,1.0,1.0,1.0
DC207,35929.0,0.189234,0.391700,0.0,0.0,0.0,0.0,1.0
DC208,35960.0,0.846858,0.360130,0.0,1.0,1.0,1.0,1.0
DC209,35955.0,0.569434,0.495162,0.0,0.0,1.0,1.0,1.0
DC210,35932.0,0.326700,0.469013,0.0,0.0,0.0,1.0,1.0
DC211,35949.0,0.758547,0.427970,0.0,1.0,1.0,1.0,1.0
DC212,35949.0,0.132605,0.339152,0.0,0.0,0.0,0.0,1.0
DC213,35896.0,31.213729,6.339326,11.0,33.0,33.0,35.0,96.0
DC214,35964.0,34.142281,4.322654,12.0,35.0,35.0,35.0,96.0
DC215,35959.0,31.584137,3.110804,12.0,31.0,31.0,33.0,96.0
DC216,35934.0,2.323732,1.105251,0.0,2.0,2.0,3.0,20.0
DC217,35973.0,3.004976,1.149772,0.0,2.0,4.0,4.0,5.0
DC219,35973.0,1.156117,0.362971,1.0,1.0,1.0,1.0,2.0
DC220,35969.0,48.475660,13.713263,13.0,38.0,48.0,58.0,98.0
DC226,35967.0,5.312481,11.973412,1.0,2.0,2.0,8.0,95.0
DC230a,35962.0,1.298315,0.690939,1.0,1.0,1.0,1.0,5.0
DC230b,32964.0,0.975792,0.153697,0.0,1.0,1.0,1.0,1.0
DC232,32949.0,0.932987,0.250048,0.0,1.0,1.0,1.0,1.0
DC232b,32949.0,0.006161,0.078251,0.0,0.0,0.0,0.0,1.0
DC235,25527.0,2.013006,0.822909,1.0,1.0,2.0,3.0,3.0
DC237,35952.0,0.687500,0.486474,0.0,0.0,1.0,1.0,8.0
DC237a,35936.0,0.666045,0.494219,0.0,0.0,1.0,1.0,8.0
DC237b,35936.0,0.008626,0.174268,0.0,0.0,0.0,0.0,8.0
DC237c,35936.0,0.073687,0.300126,0.0,0.0,0.0,0.0,8.0
DC237d,35936.0,0.019896,0.203269,0.0,0.0,0.0,0.0,8.0
DC237e,35936.0,0.003451,0.158921,0.0,0.0,0.0,0.0,8.0
DC237f,35936.0,0.198687,0.425478,0.0,0.0,0.0,0.0,8.0
DC241,35361.0,1.167303,0.457907,1.0,1.0,1.0,1.0,6.0
DC242,30599.0,0.826922,0.378320,0.0,1.0,1.0,1.0,1.0
DC244,35969.0,0.366288,0.481796,0.0,0.0,0.0,1.0,1.0
DC246,35964.0,0.379574,0.485288,0.0,0.0,0.0,1.0,1.0
DC252,35959.0,1.207014,1.228101,0.0,0.0,1.0,1.0,4.0
DC270a,35973.0,2.699330,1.435673,1.0,1.0,3.0,4.0,5.0
DC109,35962.0,15.498637,9.598043,11.0,11.0,11.0,12.0,96.0
DC142a,35921.0,82.668216,91.194377,0.0,42.0,63.0,96.0,998.0

In [132]:
# Check Nan/Null Value and then store it in list of tuple
null=data.isnull().sum().to_dict()
null_column=[(key,value) for key,value in null.items() if value>0]
null_column

[('DC205', 11),
 ('DC206', 21),
 ('DC207', 44),
 ('DC208', 13),
 ('DC209', 18),
 ('DC210', 41),
 ('DC211', 24),
 ('DC212', 24),
 ('DC213', 77),
 ('DC214', 9),
 ('DC215', 14),
 ('DC216', 39),
 ('DC220', 4),
 ('DC226', 6),
 ('DC230a', 11),
 ('DC230b', 3009),
 ('DC232', 3024),
 ('DC232b', 3024),
 ('DC235', 10446),
 ('DC237', 21),
 ('DC237a', 37),
 ('DC237b', 37),
 ('DC237c', 37),
 ('DC237d', 37),
 ('DC237e', 37),
 ('DC237f', 37),
 ('DC241', 612),
 ('DC242', 5374),
 ('DC244', 4),
 ('DC246', 9),
 ('DC252', 14),
 ('DC109', 11),
 ('DC142a', 52),
 ('DC201', 3)]

### Ditemukan beberapa data null di beberapa kolom, maka harus ditinjau terlebih dauhulu.
- Pada atribut DC235, data null hampir sejumlah 1/3 data, maka harus diisi dengan nilai lain
- Pada atribut DC230b-DC232b sejumlah 1/10, lebih baik diisi dengan nilai lain
- Teknik dalam mengisi data adalah :[Mengisi dengan mean, mengisi dengan median, mengisi dengan modus, atau diisi dengan default value]

In [133]:
data['DC201'].value_counts()

DC201
Layak Minum          32398
Tidak Layak Minum     3572
Name: count, dtype: int64

In [134]:
data['DC235'].value_counts()

DC235
3.0    8811
1.0    8479
2.0    8237
Name: count, dtype: int64

### Transformasi data label menjadi numeris

In [135]:
data['DC201']=data['DC201'].apply(lambda x: 0 if x=='Layak Minum' else 1)
data['DC201'].value_counts()

DC201
0    32398
1     3575
Name: count, dtype: int64

### Membuat fungsi untuk mengisi data yang kosong disetiap kolom menggunakan mean/median/modus tiap kolom

In [136]:
def fillData(data:pd.Series,method:str):
    if method=='mean':
        mean=data.mean()
        data=data.fillna(mean)
    elif method=='median':
        median=data.median()
        data.fillna(median)
    else:
        mode=data.mode()[0]
        data.fillna(mode,inplace=True)
    return data

### Test memberi nilai pada data kolom yang kosong

In [137]:
import random
random.seed(42)

# Get random index
rand_idx=random.randint(0,len(null_column))

# Get column and jumlah null
column,null=null_column[rand_idx]
method='mode'
# apply function to null column
temp_data=fillData(data=data[column],method=method)
print(f'Null column {column} before filling : {null}\nNull column {column} after filling  {method} : {temp_data.isnull().sum()}\n')

Null column DC212 before filling : 24
Null column DC212 after filling  mode : 0

In [138]:
null_column

[('DC205', 11),
 ('DC206', 21),
 ('DC207', 44),
 ('DC208', 13),
 ('DC209', 18),
 ('DC210', 41),
 ('DC211', 24),
 ('DC212', 24),
 ('DC213', 77),
 ('DC214', 9),
 ('DC215', 14),
 ('DC216', 39),
 ('DC220', 4),
 ('DC226', 6),
 ('DC230a', 11),
 ('DC230b', 3009),
 ('DC232', 3024),
 ('DC232b', 3024),
 ('DC235', 10446),
 ('DC237', 21),
 ('DC237a', 37),
 ('DC237b', 37),
 ('DC237c', 37),
 ('DC237d', 37),
 ('DC237e', 37),
 ('DC237f', 37),
 ('DC241', 612),
 ('DC242', 5374),
 ('DC244', 4),
 ('DC246', 9),
 ('DC252', 14),
 ('DC109', 11),
 ('DC142a', 52),
 ('DC201', 3)]

### Isi semua data null yang ada di dataset dengan metode yang diinginkan

In [139]:
# Iterasi column yang memiliki null value
method='mode'
for item in null_column:
    column,null=item
    # apply function to null column
    data[column]=fillData(data=data[column],method=method)
    print(f'Null column {column} before filling : {null}\nNull column {column} after filling  {method} : {data[column].isnull().sum()}\n')

Null column DC205 before filling : 11
Null column DC205 after filling  mode : 0

Null column DC206 before filling : 21
Null column DC206 after filling  mode : 0

Null column DC207 before filling : 44
Null column DC207 after filling  mode : 0

Null column DC208 before filling : 13
Null column DC208 after filling  mode : 0

Null column DC209 before filling : 18
Null column DC209 after filling  mode : 0

Null column DC210 before filling : 41
Null column DC210 after filling  mode : 0

Null column DC211 before filling : 24
Null column DC211 after filling  mode : 0

Null column DC212 before filling : 24
Null column DC212 after filling  mode : 0

Null column DC213 before filling : 77
Null column DC213 after filling  mode : 0

Null column DC214 before filling : 9
Null column DC214 after filling  mode : 0

Null column DC215 before filling : 14
Null column DC215 after filling  mode : 0

Null column DC216 before filling : 39
Null column DC216 after filling  mode : 0

Null column DC220 before filling : 4
Null column DC220 after filling  mode : 0

Null column DC226 before filling : 6
Null column DC226 after filling  mode : 0

Null column DC230a before filling : 11
Null column DC230a after filling  mode : 0

Null column DC230b before filling : 3009
Null column DC230b after filling  mode : 0

Null column DC232 before filling : 3024
Null column DC232 after filling  mode : 0

Null column DC232b before filling : 3024
Null column DC232b after filling  mode : 0

Null column DC235 before filling : 10446
Null column DC235 after filling  mode : 0

Null column DC237 before filling : 21
Null column DC237 after filling  mode : 0

Null column DC237a before filling : 37
Null column DC237a after filling  mode : 0

Null column DC237b before filling : 37
Null column DC237b after filling  mode : 0

Null column DC237c before filling : 37
Null column DC237c after filling  mode : 0

Null column DC237d before filling : 37
Null column DC237d after filling  mode : 0

Null column DC237e before filling : 37
Null column DC237e after filling  mode : 0

Null column DC237f before filling : 37
Null column DC237f after filling  mode : 0

Null column DC241 before filling : 612
Null column DC241 after filling  mode : 0

Null column DC242 before filling : 5374
Null column DC242 after filling  mode : 0

Null column DC244 before filling : 4
Null column DC244 after filling  mode : 0

Null column DC246 before filling : 9
Null column DC246 after filling  mode : 0

Null column DC252 before filling : 14
Null column DC252 after filling  mode : 0

Null column DC109 before filling : 11
Null column DC109 after filling  mode : 0

Null column DC142a before filling : 52
Null column DC142a after filling  mode : 0

Null column DC201 before filling : 3
Null column DC201 after filling  mode : 0

In [140]:
data.isnull().sum()

id        0
DC024     0
DC025     0
DC205     0
DC206     0
DC207     0
DC208     0
DC209     0
DC210     0
DC211     0
DC212     0
DC213     0
DC214     0
DC215     0
DC216     0
DC217     0
DC219     0
DC220     0
DC226     0
DC230a    0
DC230b    0
DC232     0
DC232b    0
DC235     0
DC237     0
DC237a    0
DC237b    0
DC237c    0
DC237d    0
DC237e    0
DC237f    0
DC241     0
DC242     0
DC244     0
DC246     0
DC252     0
DC270a    0
DC109     0
DC142a    0
DC201     0
dtype: int64

### Data setelah diisi null, diubah tipedatanya menjadi int agar mengurangi variasi data float

In [142]:
data=data.astype(int)
data

,id,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
0,1,11,2,16,1,0,1,0,0,0,...,0,1,0,0,0,2,1,12,60,0
1,2,11,2,31,1,0,1,0,0,1,...,0,1,0,1,1,1,2,31,70,0
2,3,11,2,12,1,0,1,1,1,1,...,0,1,0,1,1,0,4,11,75,0
3,6,11,2,12,1,0,0,0,0,1,...,0,2,1,1,0,1,1,11,85,0
4,7,11,2,12,1,0,1,1,0,0,...,0,1,0,0,1,0,2,11,65,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35968,47958,94,1,17,1,0,0,0,0,0,...,0,3,1,0,0,0,1,21,9,0
35969,47959,94,1,12,1,0,1,1,0,0,...,0,1,1,0,0,0,2,11,12,0
35970,47961,94,1,12,1,0,1,1,0,1,...,0,1,1,0,1,1,1,11,48,0
35971,47962,94,1,12,1,0,1,1,0,1,...,0,1,1,0,0,0,2,11,39,0
35972,47963,94,1,12,1,0,1,1,0,1,...,0,1,0,0,0,0,3,11,40,0

## Apply oversampling untuk menyeimbangkan data agar performance model lebih baik dalam mempelajari pola

In [143]:
from imblearn.over_sampling import SMOTE

# Initialize smote
oversampling=SMOTE()

# fit the X,y dataset
X,y=oversampling.fit_resample(data.drop('DC201',axis=1),data['DC201'])
X.shape,y.shape

((64796, 39), (64796,))

In [144]:
y.value_counts()

DC201
0    32398
1    32398
Name: count, dtype: int64

In [145]:
data=X
data['DC201']=y
data

,id,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
0,1,11,2,16,1,0,1,0,0,0,...,0,1,0,0,0,2,1,12,60,0
1,2,11,2,31,1,0,1,0,0,1,...,0,1,0,1,1,1,2,31,70,0
2,3,11,2,12,1,0,1,1,1,1,...,0,1,0,1,1,0,4,11,75,0
3,6,11,2,12,1,0,0,0,0,1,...,0,2,1,1,0,1,1,11,85,0
4,7,11,2,12,1,0,1,1,0,0,...,0,1,0,0,1,0,2,11,65,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64791,43550,76,2,28,1,0,0,0,0,0,...,1,1,1,1,1,0,1,29,34,1
64792,37550,71,2,16,1,0,0,0,0,0,...,0,1,0,0,0,1,1,16,33,1
64793,35920,64,2,13,1,0,0,1,0,0,...,0,1,0,1,1,0,2,14,26,1
64794,9831,18,2,16,1,0,0,0,0,0,...,0,1,0,0,0,0,1,20,39,1
64795,5016,13,2,12,1,0,1,0,0,1,...,0,2,1,0,0,1,2,11,66,1

### Memeriksa korelasi data

In [146]:
# Delete ID from the attribute
data=data.drop('id',axis=1)
data

,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,DC212,...,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a,DC201
0,11,2,16,1,0,1,0,0,0,0,...,0,1,0,0,0,2,1,12,60,0
1,11,2,31,1,0,1,0,0,1,0,...,0,1,0,1,1,1,2,31,70,0
2,11,2,12,1,0,1,1,1,1,0,...,0,1,0,1,1,0,4,11,75,0
3,11,2,12,1,0,0,0,0,1,0,...,0,2,1,1,0,1,1,11,85,0
4,11,2,12,1,0,1,1,0,0,0,...,0,1,0,0,1,0,2,11,65,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64791,76,2,28,1,0,0,0,0,0,0,...,1,1,1,1,1,0,1,29,34,1
64792,71,2,16,1,0,0,0,0,0,0,...,0,1,0,0,0,1,1,16,33,1
64793,64,2,13,1,0,0,1,0,0,0,...,0,1,0,1,1,0,2,14,26,1
64794,18,2,16,1,0,0,0,0,0,0,...,0,1,0,0,0,0,1,20,39,1
64795,13,2,12,1,0,1,0,0,1,0,...,0,2,1,0,0,1,2,11,66,1

### Feature selection berdasarkan korelasi tiap atribut dengan atribut 'DC201' dan menerapkan treshold nilai korelasi >0

In [149]:
#Melihat korelasi antara atribut lain dengan si personal loan
#Correlation with output variable
corr=data.corr()
cor_target = (corr["DC201"])
#Selecting highly correlated features
relevant_features = cor_target[cor_target>0]
selected=relevant_features.keys()
selected

Index(['DC024', 'DC025', 'DC205', 'DC220', 'DC226', 'DC230a', 'DC237',
       'DC237a', 'DC237b', 'DC237f', 'DC241', 'DC244', 'DC246', 'DC109',
       'DC201'],
      dtype='object')

In [150]:
#Memilih kolom yang akan di pakai
data=data[selected]
data

,DC024,DC025,DC205,DC220,DC226,DC230a,DC237,DC237a,DC237b,DC237f,DC241,DC244,DC246,DC109,DC201
0,11,2,16,80,8,1,1,1,0,0,1,0,0,12,0
1,11,2,31,44,2,1,1,1,0,0,1,1,1,31,0
2,11,2,12,35,2,1,1,1,0,0,1,1,1,11,0
3,11,2,12,79,8,1,1,1,0,0,2,1,0,11,0
4,11,2,12,37,8,2,1,1,0,0,1,0,1,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64791,76,2,28,69,8,2,1,1,0,1,1,1,1,29,1
64792,71,2,16,46,5,1,1,1,0,0,1,0,0,16,1
64793,64,2,13,40,2,2,1,1,0,0,1,1,1,14,1
64794,18,2,16,60,8,2,1,1,0,0,1,0,0,20,1
64795,13,2,12,49,8,1,1,1,0,0,2,0,0,11,1

In [151]:
test=pd.read_csv('../data/test.csv',header=0)
test

,id,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,...,DC237e,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a
0,26718,35,2,17,1,0,1,0,1,1,...,0,0,1,1,1,1,1,3,21,52
1,26802,35,1,12,1,1,1,1,0,1,...,0,0,1,1,0,0,1,2,11,18
2,41302,74,2,12,1,0,1,1,1,1,...,0,0,1,0,0,1,4,5,11,78
3,38698,72,1,12,1,1,0,0,0,0,...,0,0,1,0,1,0,0,1,11,20
4,44257,76,2,12,1,0,1,0,0,1,...,0,0,1,1,1,1,1,3,11,125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11985,36943,65,2,12,1,0,1,0,0,1,...,0,0,1,0,0,0,0,4,11,70
11986,33415,61,2,12,1,0,1,1,0,1,...,0,1,1,1,1,0,0,4,11,120
11987,41998,74,1,12,1,1,1,1,0,1,...,0,0,1,1,0,0,1,2,11,72
11988,41567,74,2,31,0,0,0,0,0,1,...,0,0,1,0,0,1,1,1,51,9
11989,45296,81,1,12,1,0,1,1,0,0,...,0,0,1,1,0,0,1,2,11,96

In [152]:
test_temp=test.drop('id',axis=1)
test_temp

,DC024,DC025,DC205,DC206,DC207,DC208,DC209,DC210,DC211,DC212,...,DC237e,DC237f,DC241,DC242,DC244,DC246,DC252,DC270a,DC109,DC142a
0,35,2,17,1,0,1,0,1,1,0,...,0,0,1,1,1,1,1,3,21,52
1,35,1,12,1,1,1,1,0,1,0,...,0,0,1,1,0,0,1,2,11,18
2,74,2,12,1,0,1,1,1,1,0,...,0,0,1,0,0,1,4,5,11,78
3,72,1,12,1,1,0,0,0,0,1,...,0,0,1,0,1,0,0,1,11,20
4,76,2,12,1,0,1,0,0,1,0,...,0,0,1,1,1,1,1,3,11,125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11985,65,2,12,1,0,1,0,0,1,1,...,0,0,1,0,0,0,0,4,11,70
11986,61,2,12,1,0,1,1,0,1,0,...,0,1,1,1,1,0,0,4,11,120
11987,74,1,12,1,1,1,1,0,1,0,...,0,0,1,1,0,0,1,2,11,72
11988,74,2,31,0,0,0,0,0,1,0,...,0,0,1,0,0,1,1,1,51,9
11989,81,1,12,1,0,1,1,0,0,0,...,0,0,1,1,0,0,1,2,11,96

In [153]:
test_temp=test_temp[selected[:-1]]
test_temp

,DC024,DC025,DC205,DC220,DC226,DC230a,DC237,DC237a,DC237b,DC237f,DC241,DC244,DC246,DC109
0,35,2,17,29,2,1,0,0,0,0,1,1,1,21
1,35,1,12,42,2,1,1,1,0,0,1,0,0,11
2,74,2,12,46,2,1,0,0,0,0,1,0,1,11
3,72,1,12,46,2,1,1,1,0,0,1,1,0,11
4,76,2,12,47,2,1,1,1,0,0,1,1,1,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11985,65,2,12,36,2,1,1,1,0,0,1,0,0,11
11986,61,2,12,43,2,2,1,1,0,1,1,1,0,11
11987,74,1,12,45,5,1,1,1,0,0,1,0,0,11
11988,74,2,31,20,8,1,1,1,0,0,1,0,1,51
11989,81,1,12,52,5,1,1,1,0,0,1,0,0,11

In [154]:
data

,DC024,DC025,DC205,DC220,DC226,DC230a,DC237,DC237a,DC237b,DC237f,DC241,DC244,DC246,DC109,DC201
0,11,2,16,80,8,1,1,1,0,0,1,0,0,12,0
1,11,2,31,44,2,1,1,1,0,0,1,1,1,31,0
2,11,2,12,35,2,1,1,1,0,0,1,1,1,11,0
3,11,2,12,79,8,1,1,1,0,0,2,1,0,11,0
4,11,2,12,37,8,2,1,1,0,0,1,0,1,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64791,76,2,28,69,8,2,1,1,0,1,1,1,1,29,1
64792,71,2,16,46,5,1,1,1,0,0,1,0,0,16,1
64793,64,2,13,40,2,2,1,1,0,0,1,1,1,14,1
64794,18,2,16,60,8,2,1,1,0,0,1,0,0,20,1
64795,13,2,12,49,8,1,1,1,0,0,2,0,0,11,1

In [155]:
data_temp=data.drop('DC201',axis=1)
data_temp

,DC024,DC025,DC205,DC220,DC226,DC230a,DC237,DC237a,DC237b,DC237f,DC241,DC244,DC246,DC109
0,11,2,16,80,8,1,1,1,0,0,1,0,0,12
1,11,2,31,44,2,1,1,1,0,0,1,1,1,31
2,11,2,12,35,2,1,1,1,0,0,1,1,1,11
3,11,2,12,79,8,1,1,1,0,0,2,1,0,11
4,11,2,12,37,8,2,1,1,0,0,1,0,1,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64791,76,2,28,69,8,2,1,1,0,1,1,1,1,29
64792,71,2,16,46,5,1,1,1,0,0,1,0,0,16
64793,64,2,13,40,2,2,1,1,0,0,1,1,1,14
64794,18,2,16,60,8,2,1,1,0,0,1,0,0,20
64795,13,2,12,49,8,1,1,1,0,0,2,0,0,11

## Menggabungkan data untuk dinormalisasi. Harus digabung karena jika data dipisah dan dinormalisasi secara terpisah, maka range setiap data akan berbeda, oleh karena itu data train dan test harus dinormalisasi bersama

In [156]:
# Last index training data
last_data_index=64795

In [157]:
# Combine train and test data
concatenated_df = pd.concat([data_temp, test_temp], axis=0)
concatenated_df

,DC024,DC025,DC205,DC220,DC226,DC230a,DC237,DC237a,DC237b,DC237f,DC241,DC244,DC246,DC109
0,11,2,16,80,8,1,1,1,0,0,1,0,0,12
1,11,2,31,44,2,1,1,1,0,0,1,1,1,31
2,11,2,12,35,2,1,1,1,0,0,1,1,1,11
3,11,2,12,79,8,1,1,1,0,0,2,1,0,11
4,11,2,12,37,8,2,1,1,0,0,1,0,1,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11985,65,2,12,36,2,1,1,1,0,0,1,0,0,11
11986,61,2,12,43,2,2,1,1,0,1,1,1,0,11
11987,74,1,12,45,5,1,1,1,0,0,1,0,0,11
11988,74,2,31,20,8,1,1,1,0,0,1,0,1,51
11989,81,1,12,52,5,1,1,1,0,0,1,0,0,11

### Apply standar scaler to combined data

In [158]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(concatenated_df)
scaled_data = scaler.transform(concatenated_df)
# Create a new DataFrame with the scaled data
scaled_df = pd.DataFrame(scaled_data, columns=concatenated_df.columns)
scaled_df

,DC024,DC025,DC205,DC220,DC226,DC230a,DC237,DC237a,DC237b,DC237f,DC241,DC244,DC246,DC109
0,-1.322809,0.804467,-0.105158,2.434765,0.319398,-0.456516,0.512539,0.553102,-0.061283,-0.464013,-0.356393,-0.814230,-0.816532,-0.553274
1,-1.322809,0.804467,1.959367,-0.342153,-0.373110,-0.456516,0.512539,0.553102,-0.061283,-0.464013,-0.356393,1.228154,1.224692,1.109705
2,-1.322809,0.804467,-0.655698,-1.036383,-0.373110,-0.456516,0.512539,0.553102,-0.061283,-0.464013,-0.356393,1.228154,1.224692,-0.640799
3,-1.322809,0.804467,-0.655698,2.357628,0.319398,-0.456516,0.512539,0.553102,-0.061283,-0.464013,2.132331,1.228154,-0.816532,-0.640799
4,-1.322809,0.804467,-0.655698,-0.882110,0.319398,1.064267,0.512539,0.553102,-0.061283,-0.464013,-0.356393,-0.814230,1.224692,-0.640799
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76781,0.876261,0.804467,-0.655698,-0.959246,-0.373110,-0.456516,0.512539,0.553102,-0.061283,-0.464013,-0.356393,-0.814230,-0.816532,-0.640799
76782,0.713367,0.804467,-0.655698,-0.419290,-0.373110,1.064267,0.512539,0.553102,-0.061283,1.993716,-0.356393,1.228154,-0.816532,-0.640799
76783,1.242773,-1.243059,-0.655698,-0.265017,-0.026856,-0.456516,0.512539,0.553102,-0.061283,-0.464013,-0.356393,-0.814230,-0.816532,-0.640799
76784,1.242773,0.804467,1.959367,-2.193432,0.319398,-0.456516,0.512539,0.553102,-0.061283,-0.464013,-0.356393,-0.814230,1.224692,2.860209
76785,1.527837,-1.243059,-0.655698,0.274940,-0.026856,-0.456516,0.512539,0.553102,-0.061283,-0.464013,-0.356393,-0.814230,-0.816532,-0.640799

### Separated data into train and test data again

In [159]:
train=scaled_df.iloc[:last_data_index+1]
train['DC201']=data['DC201']
train

C:\Users\ASUS\AppData\Local\Temp\ipykernel_2484\1525719724.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['DC201']=data['DC201']

,DC024,DC025,DC205,DC220,DC226,DC230a,DC237,DC237a,DC237b,DC237f,DC241,DC244,DC246,DC109,DC201
0,-1.322809,0.804467,-0.105158,2.434765,0.319398,-0.456516,0.512539,0.553102,-0.061283,-0.464013,-0.356393,-0.814230,-0.816532,-0.553274,0
1,-1.322809,0.804467,1.959367,-0.342153,-0.373110,-0.456516,0.512539,0.553102,-0.061283,-0.464013,-0.356393,1.228154,1.224692,1.109705,0
2,-1.322809,0.804467,-0.655698,-1.036383,-0.373110,-0.456516,0.512539,0.553102,-0.061283,-0.464013,-0.356393,1.228154,1.224692,-0.640799,0
3,-1.322809,0.804467,-0.655698,2.357628,0.319398,-0.456516,0.512539,0.553102,-0.061283,-0.464013,2.132331,1.228154,-0.816532,-0.640799,0
4,-1.322809,0.804467,-0.655698,-0.882110,0.319398,1.064267,0.512539,0.553102,-0.061283,-0.464013,-0.356393,-0.814230,1.224692,-0.640799,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64791,1.324220,0.804467,1.546462,1.586262,0.319398,1.064267,0.512539,0.553102,-0.061283,1.993716,-0.356393,1.228154,1.224692,0.934655,1
64792,1.120602,0.804467,-0.105158,-0.187880,-0.026856,-0.456516,0.512539,0.553102,-0.061283,-0.464013,-0.356393,-0.814230,-0.816532,-0.203173,1
64793,0.835538,0.804467,-0.518063,-0.650700,-0.373110,1.064267,0.512539,0.553102,-0.061283,-0.464013,-0.356393,1.228154,1.224692,-0.378223,1
64794,-1.037744,0.804467,-0.105158,0.892033,0.319398,1.064267,0.512539,0.553102,-0.061283,-0.464013,-0.356393,-0.814230,-0.816532,0.146928,1
64795,-1.241362,0.804467,-0.655698,0.043530,0.319398,-0.456516,0.512539,0.553102,-0.061283,-0.464013,2.132331,-0.814230,-0.816532,-0.640799,1

In [163]:
test=scaled_df.iloc[last_data_index+1:]
test

,DC024,DC025,DC205,DC220,DC226,DC230a,DC237,DC237a,DC237b,DC237f,DC241,DC244,DC246,DC109
64796,-0.345445,0.804467,0.032477,-1.499202,-0.373110,-0.456516,-1.819518,-1.694726,-0.061283,-0.464013,-0.356393,1.228154,1.224692,0.234453
64797,-0.345445,-1.243059,-0.655698,-0.496426,-0.373110,-0.456516,0.512539,0.553102,-0.061283,-0.464013,-0.356393,-0.814230,-0.816532,-0.640799
64798,1.242773,0.804467,-0.655698,-0.187880,-0.373110,-0.456516,-1.819518,-1.694726,-0.061283,-0.464013,-0.356393,-0.814230,1.224692,-0.640799
64799,1.161326,-1.243059,-0.655698,-0.187880,-0.373110,-0.456516,0.512539,0.553102,-0.061283,-0.464013,-0.356393,1.228154,-0.816532,-0.640799
64800,1.324220,0.804467,-0.655698,-0.110743,-0.373110,-0.456516,0.512539,0.553102,-0.061283,-0.464013,-0.356393,1.228154,1.224692,-0.640799
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76781,0.876261,0.804467,-0.655698,-0.959246,-0.373110,-0.456516,0.512539,0.553102,-0.061283,-0.464013,-0.356393,-0.814230,-0.816532,-0.640799
76782,0.713367,0.804467,-0.655698,-0.419290,-0.373110,1.064267,0.512539,0.553102,-0.061283,1.993716,-0.356393,1.228154,-0.816532,-0.640799
76783,1.242773,-1.243059,-0.655698,-0.265017,-0.026856,-0.456516,0.512539,0.553102,-0.061283,-0.464013,-0.356393,-0.814230,-0.816532,-0.640799
76784,1.242773,0.804467,1.959367,-2.193432,0.319398,-0.456516,0.512539,0.553102,-0.061283,-0.464013,-0.356393,-0.814230,1.224692,2.860209
76785,1.527837,-1.243059,-0.655698,0.274940,-0.026856,-0.456516,0.512539,0.553102,-0.061283,-0.464013,-0.356393,-0.814230,-0.816532,-0.640799

In [166]:
train.to_csv('train_selected_scaled_round.csv')

In [165]:
test.to_csv('test_selected_scaled.csv_round',index=False)